.customCard  {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.6;
    color: var(--mainWhite);
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing); 
    
}
  
  .customCard  h1 {
    font-size: 2.5rem; }
  
  .customCard  div {
    width: 110rem;
    height: 15rem;
    background: var(--primaryColor);
    margin:  auto 1.7rem ; 
    
}
  
  .customCard  p {
    font-size: 2rem;
    margin-bottom: 2rem; }
  
  @media screen and (min-width: 576px) {
    .customCard  {
      padding: 2rem 3rem; }
    .customCard h1 {
      font-size: 3rem; } }
  
  @media screen and (min-width: 992px) {
    .customCard  {
      padding: 2rem 6rem; }
    .customCard  h1 {
      font-size: 4rem; } }